# This file controls who creates pull request reviews automatically.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owner(s) for the entire repository
# TODO: Replace @<your-github-username> with your actual GitHub username
*       @vichitra-studio
